* {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    display: block;
    z-index: 1;
    transition: .25s;
}

body {
    padding: 0;
    margin: 0;
    background-color: #27363B;
}

.brand {
    display: flex;
    justify-content: flex-start;
    left: 0;
}

#name {
    font-size: 40px;
    margin-bottom: 0;
}

#occupation {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
}

ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0;
}

li a {
    display: flex;
    text-decoration: none;
    padding: 14px 16px;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.5px;
    color: black;
}

li a:hover::after {
    /*opacity: 1;*/
    width: 100%;
}

li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #0076AC;
    transition: width .25s;
}

.links {
    justify-content: flex-start;
    color: white;
}

.sandwich {
    display: none;
}

#contact {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.icons {
    display: flex;
    margin: auto;
    justify-content: center;
}

.fa-3x {
    margin: 15px;
}

#hero {
    min-height: 60vh;
    max-width: 100%;
    background: #41AFA8;
}

section {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 50px;
    max-width: 1000px;
    position: relative;
}

img {
    display: block;
    position: relative;
    margin: auto;
    max-width: 800px;
    height: auto;
    z-index: -1;
}

.hero-text {
    max-width: 1000px;
    width: 100%;
    display: block;
    margin: auto;
    color: white;
}

#about-me {
    padding-bottom: 0;
}

#projects-header {
    padding-top: 50px;
}

.desktop-screenshot {
    width: 100%;
}

.mobile-screenshot {
    max-height: 400px;
}

#contact > a {
    text-decoration: none;
}

p {
    margin: 0;
    margin-bottom: 15px;
    color: white;
}

.project-title {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

.project-image {
    transition: .25s ease;
    position: relative;
    margin: auto;
}

.project-link {
    border-radius: .15em;
    text-decoration: none;
    display: inline-block;
    background-color: #41AFA8;
    bottom: 50%;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: .25s;
}

/*button press*/

.project-link:hover {
    background-color: #28968F;
    box-shadow: none;
    transition: .25s;  
}

.project-link:active {
    background-color: #0E7C75;
}

.project-info {
    margin-left: 50px;
}

.fa {
    text-decoration: none;
    color: white;
    transition: .1s ease;
}

.fa-github:hover {
    color: black;
    transition: .1s ease;
}

.fa-linkedin-square:hover {
    color: #0077B5;
    transition: .1s ease;
}

#email-link {
    color: #41AFA8;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
}

.project-left, .project-right {
    width: 50%;
    margin: auto;
}

#project-1 {
    padding-top: 0;
}

.nav-background {
    background-color: #41AFA8;
    transition: .25s;
}

.project-technologies {
    display: block;
}

/*Styling technologies I used*/
.pill {
    display: inline-block;
    font-size: .9em;
    border-radius: .15em;
    padding: .125rem .75rem;
    margin: .25rem 0;
    background-color: #567C82;
    color: white;
}

@media (max-width: 1000px) {

    section {
        position: relative;
    }

    .project-info {
        margin: 0;
    }

    ul {
        flex-direction: column;

        justify-content: flex-start;
    }

    nav {
        background-color: white;
    }

    .sandwich {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        padding-top: 13px;
        padding-bottom: 13px;
    }

    .links {
        opacity: 0;
        transition: all .25s ease;
        height: 0;
        padding: 0;
        overflow: hidden;
        width: 90%;
        margin: auto;
    }

    .showLinks {
        height: 50px;
        opacity: 1;
        padding: auto;
        transition: all .25s ease;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: auto;
        width: 90%;
    }

    .desktop-screenshot {
        width: 100%;
    }

    .project-link {
        line-height: 1.5;
        border-radius: 3px;
    }

    .project-left, .project-right {
        width: 100%;
    }
}