* {
    font-family: 'Roboto', sans-serif;
}

nav {
    overflow: hidden;
    background-color: #ddd;
    width: 100%;
    position: fixed;
    top: 0;

    z-index: 1;
}

body {
    padding: 0;
    margin: 0;
}

/*.white-section {
    background-color: #bbb;
}

.gray-section {
    background-color: #ddd;
}*/

.brand {
    display: flex;
    justify-content: flex-start;
    left: 0;
}

ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0;
}

li a {
    display: flex;
    text-decoration: none;
    padding: 14px 16px;
}

.links {
    justify-content: flex-end;
}

.sandwich {
    display: none;
}

#contact {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.icons {
    display: flex;
    margin: auto;
    justify-content: center;
}

.fa-3x {
    margin: 15px;
}

section {
    margin: auto;
    display: block;
    padding-top: 50px;
    max-width: 800px;
    position: relative;
}

img {
    display: flex;
    margin: auto;
    max-width: 800px;
    max-height: 400px;
}

#contact > a {
    text-decoration: none;
}

.section-title {
    text-align: center;
}

p {
    margin: 0;
}

img {
  color: #fff;
  background-color: #333;
  transition: all 0.2s ease-out;
} 

img:hover,
img:focus {
  filter: brightness(50%);
  background-color: #fff;
}

.img-wrapper {
    position: relative;
}

.img-overlay {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
}

.img-overlay:before {
    content: ' ';
    display: block;
    height: 50%;
}

.project-link {
    background: #e3e3e3;
    border: 1px solid #bbb;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    width: 80px;
    height: 30px;
}


@media (max-width: 500px) {
    section {
        position: relative;
        width: 90%;
    }

    ul {
        flex-direction: column;

        justify-content: flex-start;
    }

    .sandwich {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        padding-top: 13px;
        padding-bottom: 13px;
    }

    .links {
        display: none;
    }

    .showLinks {
        display: flex;
        justify-content: flex-start;
    }

    #desktop-screenshot {
        width: 100%;
    }

    .project-link {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }
}