* {
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #ddd;
    width: 100%;
    position: fixed;
    top: 0;
    display: block;
    z-index: 1;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f7f7f7;
}

/*.white-section {
    background-color: #bbb;
}

.gray-section {
    background-color: #ddd;
}*/

.brand {
    display: flex;
    justify-content: flex-start;
    left: 0;
}

ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0;
}

li a {
    display: flex;
    text-decoration: none;
    padding: 14px 16px;
}

.links {
    justify-content: flex-start;
}

.sandwich {
    display: none;
}

#contact {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.icons {
    display: flex;
    margin: auto;
    justify-content: center;
}

.fa-3x {
    margin: 15px;
}

#hero {
    min-height: 60vh;
    max-width: 100%;
    background: linear-gradient(to bottom right, #58FFDC, #58B2DC);
}

/*#profile-picture {
    width: 250px;
    height: auto;
    z-index: 0;
}*/

section {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    max-width: 800px;
    position: relative;
}

img {
    display: block;
    position: relative;
    margin: auto;
    max-width: 800px;
    max-height: 400px;
    z-index: -1;
}

#contact > a {
    text-decoration: none;
}

.section-title {
    text-align: center;
}

p {
    margin: 0;
}

.project-section {
    display: table;
    transition: .25s ease;
    position: relative;
    margin: auto;
    margin-bottom: 50px;
}

.project-section:hover {
    transition: 0.25s ease;
    background-color: rgba(0,0,0,0.45);
}

.project-link {
    background: #e3e3e3;
    border: 1px solid #bbb;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    width: 80px;
    height: 30px;
    position: absolute;
    background-color: rgba(0,0,0,0.65);
    bottom: 50%;
    color: white;
    opacity: 0;
    transition: opacity .25s ease;
    text-align: center;
}

.project-section a:nth-of-type(1) {
    left: 15%;
}

.project-section a:nth-of-type(2) {
    left: 55%;
}

.project-section:hover a {
    opacity: 1;
    transition: .25s ease;
}

.project-info {
    margin: auto;
    width: 300px;
}

.section-title {
    order: 1;
}

.project-section {
    order: 2;
}

.project-description {
    order: 3;
}

.project-technologies {
    order: 4;
}

.fa {
    text-decoration: none;
    color: black;
    transition: .1s ease;
}

.fa-linkedin-square:hover {
    color: #0077B5;
    transition: .1s ease;
}

h2 {
    text-align: center;
}

@media (max-width: 500px) {

    section {
        position: relative;
        width: 90%;
    }

    #hero {
        width: 100%;
    }

    ul {
        flex-direction: column;

        justify-content: flex-start;
    }

    .sandwich {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        padding-top: 13px;
        padding-bottom: 13px;
    }

    .links {
        opacity: 0;
        transition: all .25s ease;
        height: 0;
        padding: 0;
        overflow: hidden;
        width: 90%;
        margin: auto;
    }

    .showLinks {
        height: 50px;
        opacity: 1;
        padding: auto;
        transition: all .25s ease;
        display: flex;
        justify-content: flex-start;
        margin: auto;
        width: 90%;
    }

    #desktop-screenshot {
        width: 100%;
    }

    .project-link {
        padding: 5px;
        font-size: 20px;
        line-height: 1.5;
        border-radius: 3px;
    }

    .project-section:focus a {
        opacity: 1;
        transition: .25s ease;
    }
}